.header {
  display:flex;
  position: relative;
  padding-left: 2%;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  
  height: 131px;
  width:187px;
}

.navbar-item, a {
  margin-top: 2%;
  flex-grow:1;
  text-align: center;
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-decoration: none;
  
  
}

.navbar-item:hover, a:hover {
  color: gold;
 
  /*font-size: 20px;*/
}

.background {
  background-image:url("./images/apetizers.jpg"); 
  height: 210px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color:white;
  text-align: center;
  font-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  /*
  background-size: 100%;
  
  */
  
}

.header-titles {
  text-align: center;
  /*top: 30%;*/  
  position: relative;
  
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: whitesmoke;
  font-size: 70px;
  
}

.pagesBox div{
  text-align: center;
}
.pagesBox {
  /*border: solid thin; */
  min-height: 800px;
  position: relative;
  margin-left:20%;
  margin-right:20%;
  color: whitesmoke;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
  text-align: center; 

 
  
}

.pagebackgroundContact {
  background-image:url("./images/frontbarview.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
 
}

.menu-images {
  position: relative;
}

.imageHolder {
  position: relative;
}

.footerMenu {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  background-color:rgb(190, 190, 190);
  position: fixed;

  margin-top: 1rem;
  padding: 1rem; 
  bottom: 0;
  left: 0;
  width: 100%;
  
  text-align: center;


}

.toggle-button {
  position:absolute;
  top: 1rem;
  right: 1rem;
  display:none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 31px;
}

.toggle-button .bar {
  height: 4px;
  width:100%;  
  background-color: white;
  border-radius: 10px;
}
@media (max-width: 850px){
  .toggle-button {
    display: flex;

  }

  .navbar-item {
    display: none;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    
  }
  .navbar-item {
    width: 100%;
    
    flex-direction: column;
  }

  .navbar-item {
    text-align:center;   
    
  }

  .header {
    padding:  .5rem 1rem;
    align-items: center;
    
  }

  .navbar-item.active {
    display: flex;
    
      
  }
}

#root {
  background-color: black;

}

