.header {
  display:flex;
}

.logo {
  
  height: 100px;
  width:500px;
}

.navbar-item, a {
  margin-top: 2%;
  flex-grow:1;
  text-align: center;
  color: rgb(82, 81, 81);
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-decoration: none;
  
}

.navbar-item:hover, a:hover {
  color: black;
  /*font-size: 20px;*/
}

.background {
  background-image:url("./images/foodedit.jpg"); 
  height: 250px;
  position: relative;
  opacity: 70%;
  /*background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  */
  
}

.header-titles {
  text-align: center;
  top: 30%;  
  position: relative;
  
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: white;
  font-size: 70px;
  
}

.pagesBox {
  border: solid thin;
  min-height: 800px;
  position: relative;
  margin-left:20%;
  margin-right:20%;
  background-color: rgb(65, 64, 64);
  opacity: 85%;
  text-align: center;
  
}

.pagebackground {
  background-image:url("./images/logo.jpg");
  background-repeat: repeat;
  background-size: 20%;
  background-position: center;
 
}

.menu-images {
  position: relative;
}

.imageHolder {
  position: relative;
}

